* {
    font-family: dosis;
}
h1 {
    
    color: #0F8989;
}
main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, .5fr));
    grid-gap: 2rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}
.filmDiv {
    background-color: lightgray;
    padding: 1rem;    
}
.personDiv {
    padding: 2rem;
    border: 3px solid #0F8989;
    border-radius: 2rem;
 
    
}
#pic {
    max-height: 20rem;
    border-radius: 2rem;
}